{% extends "main/base.html" %}
{% block content %}
  <h1>Secret area – ALL users</h1>
  <p><em>This page should be protected!</em> (Currently accessible without login.)</p>

  <table border="1" cellpadding="4">
    <tr>
      <th>ID</th><th>Username</th><th>Email</th><th>is_staff</th><th>is_superuser</th>
    </tr>
    {% for u in users %}
      <tr>
        <td>{{ u.id }}</td>
        <td>{{ u.username }}</td>
        <td>{{ u.email }}</td>
        <td>{{ u.is_staff }}</td>
        <td>{{ u.is_superuser }}</td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}
